*{
    /* border: 0.5px solid red ; */
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

img{
    width: 450px;
    height: 400px;
}

/* body{
	font-family: Helvetica;
    font-weight: 100;
    background: #eaeaea;
    margin:0;
    padding: 0;
} */

html {
    height: 80%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

body{
    background-color: white;
    padding: 20;
}  

.post{
    width: 450px;
	margin:auto;
}

.post-icons-Rigoberto{
    display: flex;
    flex-direction: column;
}

.post-icons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom : 10px;
}

.post-icons-left{
    gap: 5px;
    display: flex;
    margin-left: 10px;
}

.fa-solid{
    margin-right: 10px;
}

.fa-regular{
    margin-right: 10px;
}

p{
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
}

strong{
    font-weight: bold;
}